@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

/* Colors */
$dark-bg: #312f2f;
$white: #fff;
$white-shade: #f2f2f2;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9c5555;
  width: 100%;
  height: 100vh;
  font-family: "Roboto Slab", sans-serif;
}

.hero {
  text-align: center;
  background-color: $dark-bg;
  padding: 2rem;
  width: 100vw;

  .title {
    color: $white;
  }
  .subtitle {
    color: $white-shade;
  }
}

  .row {
  display: flex;
  flex-wrap: wrap;

    .column {
      align-items: flex-start;
      // float: left;
      width: 25%;
      padding: 0 10px;

      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: $white-shade;

        .title {
          font-weight: 700;
          margin-bottom: 1rem;
        }

        .card-content {

          .card-image {
            .image {
              img {

              }
            }
          }
          .card-text {
            .overview {

            }
            .vote {
              margin: 1rem 0;
              font-size: 1.5rem;

            }
          }
        }
      }

    }

    
  }
