@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

/* Colors */
$dark-bg: #312f2f;
$white: #fff;
$white-shade: #f2f2f2;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --lh: 1.4rem;
  line-height: var(--lh);
}

body {
  background-color: #9c5555;
  font-family: "Roboto Slab", sans-serif;
  width: 100%;
  height: 100vh;
}

.hero {
  text-align: center;
  background-color: $dark-bg;
  padding: 2rem;
  margin-bottom: 1rem;
  width: 100vw;

  .title {
    color: $white;
  }
  .subtitle {
    color: $white-shade;
  }
}

  .row {
    display: flex;
    flex-wrap: wrap;

    .column {
      align-items: flex-start;
      width: 25%;
      padding: 1rem 10px;

      .card {
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: $white-shade;

        .title {
          font-weight: 700;
          margin-bottom: 1rem;
        }

        .card-content {
          .card-image {
            .image {
              img {
                border-radius: 5px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
              }
            }
          }
          .card-text {
            .box {
              input {
                opacity: 0;
                position: absolute;
                pointer-events: none;

                &:focus ~ label {
                  outline: -webkit-focus-ring-color auto 5px;
                }
                
                &:checked + p {
                  -webkit-line-clamp: unset;
                }
                
                &:checked ~ label,
                p:not(.truncated) ~ label{
                  display: none;
                }
              }

              label {
                border-radius: 4px;
                padding: 0.2em 0.6em;
                border: 1px solid #009ce2;
                background-color: #00acff;
                color: #fff;
                font-size: 0.8em;
              }
              .overview {
                margin-top: 1rem;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
              }
            }
            .vote {
              margin: 1rem 0;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }