@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

//Main Colors
$dark-bg: #312f2f;
$white: #fff;
$white-shade: #f2f2f2;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #cc4a4a;
  width: 100%;
  height: 100vh;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-family: "Roboto Slab", sans-serif;
  text-align: center;

  .hero {
    background-color: $dark-bg;
    padding: 2rem;
    width: 100vw;

    .title {
      color: $white;
    }
    .subtitle {
      color: $white-shade;
    }
  }

  .columns {
    display: flex;
    flex-direction: row;
    margin: 20px;
    .column {
      margin: 0 20px;
    }
  }
}